*,
*::after,
*::before {
margin: 0;
padding: 0;
}

button{
    width: auto;
    height: auto;
    background-color: blueviolet;
    border-radius: 5px;
    margin: 2px;
}

button:hover {
    background-color: pink;
}

.clearAll {
    margin: 5px;
    padding: 5px;
}

header {
    width: auto;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    margin-top: 0;
    color:black;
    background-color:blueviolet;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 640px;
    height: 100%;
}



.searchCol{
    background-color: burlywood;

}


