.citySearch {
    background-color: pink;
    float: left;
}


#Searched-Image {
    background-color: magenta;
    color: wheat;
    padding: 1%;
    height: 70px;
    width: 85%;
    overflow: hidden;
}


.city{
    font-size: 22px;
    text-align: right;
    float: right;
}

#date {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}

.weekDay {
    background-color: magenta;
    color: white;
    padding: 10px;
margin:5px;
}
#forecast-div {
    margin-left: 1px;
}


#searchText {
    padding: 6px;
    color:black;
}

.card {
    background-color: rgb(220, 227, 222);
}
.low {
    background-color: green;
    color: white;
    border-radius: 10px;

}

.mid{
    background-color: yellow;
    color: white;
}


.high {
    background-color: red;
    color: white;
}

#city {
    font-size: 22px;

}